@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PTSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 1200px;
}

.navigation {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
}

.navigation-logo {
    display: block;
    margin-right: 28px;
}

.navigation-list {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    font-weight: 700;
    margin-left: 28px;
}

.navigation-user {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #000000;
    margin-left: auto;
    margin-right: 20px;
}

.navigation-user-link {
    position: relative;
    display: block;
    width: 44px;
    height: 64px;
    text-decoration: none;
}

.navigation-user-link-search {
    background-image: url("../images/search.svg");
    background-position: center;
    background-repeat: no-repeat; 
}

.navigation-user-link-favorite {
    background-image: url("../images/favorites.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.navigation-link {
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 16px;
}

.navigation-notification {
    padding: 2px;
    border-radius: 50%;
    left: 25px;
    top: 20px;
    position: absolute;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    background-color: #7DB54F;
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    padding: 8px 50px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #756157;
}

.main-header {
    background-color: #FFFFFF;
}


.index-main {
    flex-grow: 1;
    background-color: #FFFFFF;
}

.promo-img {
    display: flex;
    padding: 51px 371px 82px 371px;
    margin: 0;
    background-image: url("../images/index-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
 

.slogan-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.slogan-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.descriptions { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.descriptions-item-wide {
    grid-column: 1 / 4;
}

.description-wide {
    display: flex;
}

.description-wide-right {
    flex-direction: row-reverse;
}

.description-group {
    width: 400px;
    padding-top: 102px;
    padding-left: 85px;
    padding-right: 85px;
}

.descriptions li:nth-child(1) .description {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.descriptions li:nth-child(2) {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.descriptions li:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.20);
    color: #000000;
}

.descriptions li:nth-child(4) {
    background-color: rgba(131, 179, 211, 0.12);
    color: #000000;
}

.descriptions li:nth-child(5) .description {
    background-color: #82B3D3;
    color: #FFFFFF;
}

.description-title {
    font-family: "PTSans";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.description-text {
    font-family: "PTSans";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}


.advantage-list {
    text-align: center;
}

.advantage-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list-item {
    background-color: rgba(131, 179, 211, 0.20);   
}


.excursion {
    background-color: #82B3D3;
    text-align: center;
}


.attraction-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;    
    color: #000000;
}

.attraction-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}


.dignity-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.dignity-item {
    background: rgba(131, 179, 211, 0.20);
}

.dignity-item-food {
    background: rgba(131, 179, 211, 0.12);
}

.dignity-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.dignity-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.booking { 
    padding: 96px 304px 96px 304px;
}

.booking-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.booking-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.booking-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 8px 50px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px; 
    border: none;
    line-height: 36px;
    background-color: #756157;
    color: #FFFFFF;
}   

.feedback {
    padding: 12px 20px;
    text-align: center;
    background-image: url("../images/background-form.jpeg");
    background-size: cover;
}

.feedback-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.feedback-text {
    size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.field {
    padding: 12px 20px;
    border-radius: 4px;
}

.button-newsletter-button {
    padding: 8px 50px;
    border-radius: 4px;
    font-family: inherit;
    border: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.page-footer-container {
    padding: 40px 70px 30px 70px;
    display: flex;
    justify-content: space-between;
}

.contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts-link-vk {
    color: #83b3d3;
}

.contacts-link-tg {
    color: #83b3d3;
}

.contacts-link-youtube {
    color: #83b3d3;
}

.contacts-phone {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.contacts-photo-logo {
    color: #000000;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
}

.main-catalog {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 35px 70px 70px 70px;
    margin: 0;
    background-image: url(../images/catalog-img.jpeg);
    background-size: cover;
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

.catalog-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.catalog-group {
    list-style: none;
    padding: 0;
    margin: 0;
}


.catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.control-input {
    font-family: inherit;
}

.control {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
}

.price {
    padding: 0;
    margin: 0;
    width: 150px;
}

.button-start {
    padding: 8px 50px;
    border-radius: 4px;
    margin-top: 1em; 
    margin-bottom: 4em;  
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #82B3D3;
}

.button-end {
    padding: 8px 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}

.select-search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

.booking-hotels {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.select-control  {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #333333;
    margin-right: 200px;
}

.search-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #000000;
}

.hotels-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

.hotels-items {
    margin: 15px;
}

.hotels-link {
    text-decoration: none;
}

.hotels-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
}

.hotels-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
} 

.price-numbers {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.button-button-sub {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #756157;
    color: #FFFFFF;
}

.button-button-fav {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #82B3D3;
    color: #FFFFFF;
}

.pagination-list {
    display: flex;
    list-style: none;
}

.pagination-link-pagination-current {
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.pagination-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #82B3D3;
}

.pagination-link-ellipses {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    border-radius: 4px 0px 0px 0px;
    color: #000000;
}

.pagination-link-ten {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    border-radius: 4px 0px 0px 0px;
    color: #82B3D3;
}

.button-newsletter-button-catalog {
    border-radius: 0px 4px 4px 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #82B3D3;
}

.feedback {
    padding: 96px 258px 104px 258px;
}

.feedback-title-catalog {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.feedback-text-catalog {
    font-size: 22px;
    line-height: 26px;
    color: #333333; 
}