@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format(woff2);
    font-display: swap;
}


body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background-color: #F2F2F2;
}

.main-header {}

.navigation-list {
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    font-weight: 700;
}

.navigation-list .navigation-user {
    color: #000000;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
}

.navigation-notification {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    text-align: center;
    background-color: #7DB54F;
    color: #FFFFFF;
    text-decoration: none;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #756157;
}

.promo-img {
    background-image: url("../images/index-background.jpg");
}


.slogan-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.slogan-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.description {
    background-color: #82B3D3;
}

.description-title {
    font-family: "PT Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.description-text {
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.description-image {
    background-image: url("../images/background1.jpg");
    width: 800px;
    height: 385px;
}

.advantage-item {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list-item {
    background-color: rgba(131, 179, 211, 0.20);   
}

.advantage-title {
    font-family: PT Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.advantage-text {
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.excursion {
    background-color: #82B3D3;
}

.excursion-image {
    background-image: url("../images/background2.jpg");
    width: 800px;
    height: 385px;
}

.excursion-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.excursion-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.attraction-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;    
    color: #000000;
}

.attraction-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.dignity-item {
    background: rgba(131, 179, 211, 0.20);
}

.dignity-item-food {
    background: rgba(131, 179, 211, 0.12);
}

.dignity-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #000000;
}

.dignity-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.booking-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.booking-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.booking-button {
    font-weight: 700;
    font-size: 20px; 
    border-radius: 4px;
    line-height: 36px;
    text-align: center;
    color: #756157;
}   

.feedback {
    background-image: url(../images/Subscribe.png);
}

.feedback-title {
    width: 404px;
    height: 36.35px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #FFFFFF;
}

.feedback-text {
    width: 400px;
    size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.button-newsletter-button {
    border-radius: 0px 2px 2px 0px;
    width: 232px;
    height: 52px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #82B3D3;
}

.contacts-link-vk {
    width: 24px;
    height: 14px;
    color: #83b3d3;
}

.contacts-link-tg {
    width: 18px;
    height: 15.1px;
    color: #83b3d3;
}

.contacts-link-youtube {
    width: 22px;
    height: 17px;
    color: #83b3d3;
}

.contacts-phone {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #000000;
}

.contacts-photo-logo {
    width: 114.9px;
    height: 32.9px;
    color: #000000;
}

h1 {
    width: 494.4px;
    height: 78px;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
}

.catalog-filter-title {
    width: 150.43px;
    height: 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.control {
    width: 63px;
    height: 23px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    color: #FFFFFF;
}

.button-start {
    border-radius: 4px;
    width: 191px;
    height: 36px;    
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #82B3D3;
}

.button-end {
    border-radius: 4px;
    width: 191px;
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.booking-hotels {
    width: 338px;
    height: 36px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.select-control  {
    width: 141px;
    height: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #333333;
}

.search-list {
    Width: Fixed (16px);
    Height: Fixed (14px);
    color: #000000;
}

.hotels-img {
    width: 300px;
    height: 212px;
}

.hotels-title {
    width: 300px;
    height: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #000000;
}

.hotels-price {
    width: 140px;
    height: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #333333;
} 

.price-numbers {
    width: 140px;
    height: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: #333333;
}

.button-button-sub {
    width: 140px;
    height: 36px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #756157;
}

.button-button-fav {
    width: 140px;
    height: 36px;
    border-radius: 4px 0px 0px 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #82B3D3;
}

.pagination-link-pagination-current {
    width: 60px;
    height: 60px;
    border-radius: 4px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.pagination-link {
    width: 60px;
    height: 60px;
    border-radius: 4px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #82B3D3;
}

.pagination-link-ellipses {
    width: 60px;
    height: 60px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    border-radius: 4px 0px 0px 0px;
    color: #000000;
}

.pagination-link-ten {
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    border-radius: 4px 0px 0px 0px;
    color: #82B3D3;
}

.button-newsletter-button-catalog {
    border-radius: 0px 4px 4px 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #82B3D3;
}

.feedback-title-catalog {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.feedback-text-catalog {
    width: 400px;
    size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333; 
}